flask==3.0.2
flask-cors==4.0.0
flask-sqlalchemy==3.1.1
flask-login==0.6.3
flask-migrate==4.0.5
python-dotenv==1.0.1
gunicorn==21.2.0
opencv-python==4.9.0.80
ultralytics==8.1.2
roboflow
cloudinary==1.40.0
twilio==9.0.0
vonage==3.2.0
python-jose==3.3.0
Pillow==10.2.0
numpy==1.26.4
torch==2.0.1
torchvision==0.15.2
yagmail==0.15.293 